@import "tailwindcss";

@theme {
  --color-primary: #8c7ae6;
  --color-secondary: #9c88ff;
  --color-light-bg: #f5f6fa;
  --color-light-text: #dcdde1;
}
body {
  font-family: "Poppins", sans-serif;
}
